#landing{
    background: url("/images/landing.jpg") center center;
    height: 450px;
    background-size: cover;
}

#landing #tab-landing{
    background: #fff;
    max-width: 320px;
    max-height: 420px;
    margin-right: 50px;
}

#landing .float-right-lg{
    float: right;
}
@media (max-width: 768px){
    .header--standard-landing .header-menu{
        background: #fff;
    }
    #landing #tab-landing{
        margin: 0 auto;
        float: none;
    }
    #landing .float-right-lg{
        float: none;
    }
    .header--standard-landing .dropdown-toggle::after {
        border-top-color: #888da8;
    }
}

.nav-tabs .nav-link,.nav-tabs{
    border: 0;
    color: #495057;
    font-size: 1rem;
}

.nav-tabs .nav-item.show .nav-link,.nav-tabs .nav-link.active{
    background: #fff;
}
.nav-tabs .nav-item .nav-link,.nav-tabs .nav-link{
    background: #cccccc;
}

.nav-item.nav-link{
    width: 50%;
    max-width: 320px;
    text-align: center;
}

form{
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
}

form .form-check-input {
    position: absolute;
    margin-top: 0.2rem;
    right: 70px;
}

.form-control{
    padding: .375rem .75rem;
}

#landing .btn{
    margin-bottom: 0;
}

#ad #carousel{
    margin-bottom: 2rem;
}

#ad .carousel-indicators li {
    margin-top: 10px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #ccc;
}
#ad .carousel-indicators{
    bottom: -5px;
}

#ad .carousel-indicators li.active {
    background-color: #0069d9;
}

#ad{
    min-height: 380px;
    padding: 3rem 0;
}

#ad #service{
    padding: 0 3rem;
}

.label {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    font-style: italic;
}
.label.label-success{
    color: #fff;
    background-color: #2ca773;
    border-color: #2da780;
}
.label.label-danger{
    color: #fff;
    background-color: #a72635;
    border-color: #a71f1f;
}

#schedule a.btn{
    color: #fff;
    min-width: 120px;
}

#schedule table.table,.calculate table.table{
    border: #dee2e6 solid 1px;
}
#schedule table.table td{
    border: 0;
}
#schedule table.table thead th{
    border: 0;
}
#schedule table.table thead{
    position: relative;
}
#schedule table.table thead:after{
    content: '';
    position: absolute;
    width: 75%;
    border-bottom: 2px solid red;
    left: 50%;
    transform: translate(-50%, 0);
}

#news .title{
    padding: .5rem;
    margin-bottom: 2rem;
    color: #fff;;
    width: 100%;
    background: #6616e7;
}
#news .content{
    text-align: left;
}
#news .content a{
    color: #0069d9;
    font-size: 1rem;
}
#news .content small{
    display: block;
    margin: .5rem 0;
}

#search .tab-pane{
    box-shadow: 0px -2px 4px 0px #ccc;
    margin-bottom: 2rem;
}

#search .nav-tabs .nav-item.show .nav-link,#search  .nav-tabs .nav-link.active{
    box-shadow: 0px -2px 4px 0px #ccc;
}

span.color-gray{
    color: #d6d8d9;
}
.departure{
    position: absolute;
    bottom: 13px;
    left: 0;
}
@media (max-width: 768px){
    .departure{
        position: relative;
        bottom: 0px;
        right: 0;
    }
    #transfer .calculate .btn ,
    #search .calculate .btn{
        margin-top: 2rem;
    }
}

.calculate table.table thead th,#search .calculate table.table td{
    border: 0;
}
.calculate table.table .danger{
    background: #ff3407;
    color: #fff;
}
.calculate table.table .gray{
    background: #a29d9d;
    color: #fff;
}
.calculate table.table .gray .h3{
    color: #fff;
}

.steps-form {
    display: table;
    width: 100%;
    position: relative; }
.steps-form .steps-row {
    display: table-row; }
.steps-form .steps-row .steps-step:not(:last-child):after {
    top: 14px;
    right: -40%;
    position: absolute;
    content: " ";
    width: 80%;
    height: 3px;
    background-color: #ccc;
    z-index: 9;
}
.steps-form .steps-row .steps-step.pass:not(:last-child):after{
    background-color: red;
}
.steps-form .steps-row .steps-step {
    width: 20%;
    display: table-cell;
    text-align: center;
    position: relative; }
.steps-form .steps-row .steps-step p {
    margin-top: 0.5rem; }
.steps-form .steps-row .steps-step .btn-circle {
    background: white;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    border: #ccc solid 5px;
    margin-top: 0;
    z-index: 10;
}

.steps-form .steps-row .steps-step.active .btn-circle{
    border: red solid 5px;
}
.steps-form .steps-row .steps-step.pass .btn-circle{
    background: red;
    border: red solid 5px;
}

.steps-form .steps-row .steps-step.active p,.steps-form .steps-row .steps-step.pass p{
    color: red;
}
table.table.status-booking{
    padding-bottom: 2rem;
}
table.table.status-booking thead tr th,table.table.status-booking tbody tr td{
    font-weight: 300;
    border: 0;
    color: black;
}
table.table.status-booking tbody tr td{
    font-size: 18px;
}

@media (max-width: 768px){
    table.table.status-booking tbody tr td{
        font-size: 1em;
    }
}

ul.list-circle {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

ul.list-circle li:not(:last-child) {
    border-bottom: dashed 2px #ccc;
}
ul.list-circle li {
    padding-left: 2em;
    font-size: 1rem;
    line-height: 2rem;
    position: relative;
    margin-top: 1rem;
}

ul.list-circle li:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #ccc;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    transform: translate(-50%, 50%);
}
.circle-red{
    padding-left: 1.5em;
    position: relative;
}
.circle-red::before{
    width: 1em;
    height: 1em;
    background: red;
    border-radius: 50%;
    display: inline-block;
    content: "";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(-50% , -50%);
}

.line-red{
    padding-left: 1.5em;
    position: relative;
}
.line-red::after{
    right: 4px;
    width: 35%;
    height: 2px;
    background: red;
    display: inline-block;
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(0 , -50%);
}
.group-detail{
    padding-bottom: 2rem;
}
@media (max-width: 768px){
    .group-detail{
        width: 90%;
        margin: 0 auto;
    }
}

.megamenu .tour-pin-wrapper a{
    font-weight: normal;
    font-size: 14px;
}

.megamenu .tour-pin-wrapper img{
    padding-top: 20px;
}
@media (max-width: 575.98px){
    .table-responsive-sm {
        border: solid 1px #ccc;
    }
}

#passenger .group-detail .container,#preview .group-detail .container{
    padding: 3rem 2.5rem;
}
#passenger .group-detail .container p,#preview .group-detail .container p{
    font-size: 1.25rem;
    color: rgb(81, 83, 101);;
}
#passenger .group-detail header,#preview .group-detail header{
    position: relative;
}
#passenger .group-detail header:before,#preview .group-detail header:before{
    display: block;
    content: '';
    border-bottom: solid 1px red;
    bottom: -1.5rem;
    position: absolute;
    width: 20%;
    z-index: 9;
}
#passenger .group-detail header:after,#preview .group-detail header:after{
    display: block;
    content: '';
    border-bottom: solid 1px;
    bottom: -1.5rem;
    position: absolute;
    width: 100%;
}
#passenger .group-detail .form-border-group{
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.75rem;
    margin: .5rem;
    position: relative;
}
.icon-input {
    position: absolute;
    transform: translate(-50%, -50%);
    right: 0;
    top: 50%;
    color: #ccc;
}
#passenger .group-detail .form-border-group input,#passenger .group-detail .form-border-group select{
    border: 0;
    padding: 0;
    margin: 0;
}

#passenger .group-detail .form-border-group .form-control:focus{
    box-shadow: none;
}
#passenger .group-detail .form-border-group .form-group{
    margin: 0;
}
#passenger .group-detail .form-border-group label{
    font-size: 0.75rem;
}

#passenger .group-detail .container .credit_card p{
    font-size: 0.812rem;
}
#group-payment .credit_card {
    display: inline-block;
    position: relative;
}
.credit_card img {
    height: 75px;
    width: auto;
}
#group-payment .credit_card img{
    border: solid 1px #ccc;
    border-radius: 5px;
}
#group-payment .credit_card.active img{
    border: solid 1px #67aa2e;
    border-radius: 5px;
}
#group-payment .credit_card.active:after{
    position: absolute;
    content: '';
    display: block;
    width: .5rem;
    height: .5rem;
    background: #67aa2e;
    top: 6px;
    right: 4px;
    border-radius: 50%;
}

#form-paypal,#form-credit,#form-bank{
    display: none;
}
#form-paypal.active,#form-credit.active,#form-bank.active{
    display: flex;
}

#loading .group-img-loading,#loading .information{
    margin: 1rem auto;
}
#loading .group-img-loading img{
    height: 50px;
}
@media (max-width: 768px){
    #loading .group-img-loading img{
        height: 28px;
    }
    #preview .w-50{
        width: 100% !important;
    }
}
#success .booking-thank{
    position: relative;
}
#success .booking-date{
    position: absolute;
    top:0;
    right: 3rem;
    color: #515365;
    text-align: right;
    font-size: 1.2rem;
}
@media (max-width: 425px){
    #success .booking-date{
        right: 2rem;
        font-size: .812rem;
    }
    #success .booking-date p{
        font-size: .812rem;
    }
}

.notification .note-payment{
    background: red;
    color: white;
    font-size: 1rem;
    padding: .5rem 1rem;
    border-radius: 5px;
}
@media (max-width: 425px){
    .notification{
        padding: 1rem;
    }
}